*{
  margin: 0;
  padding: 0;

  button{
    all: unset;
  }
}

.list{
  display: flex;
  flex-flow: column;
  gap: 4px;
}

button{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 20px;
  padding: 12px;
  background-color: #141415;
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  width: 350px;
  min-width: 320px;
  cursor: pointer;
  
  &:focus{
    outline: 2px solid rgb(165, 165, 165);
  }
}